* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  background-color: rgb(223, 223, 223);
  padding: 0 5%;
  text-align: center;
}

img {
  width: 75%;
  height: auto;
  border-radius: 10px;
}

nav {
  padding: 1.5rem;
  border-bottom: 5px black solid;
  /* Will always remian at top: */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: whitesmoke;
}

nav ul{
  display:flex;
  justify-content: space-around;
  
}

nav ul li {
  list-style-type: none;
}

nav ul li a{
  text-decoration: none;
  color: black;
}

li a:hover{
  text-decoration: underline;
  color: rgb(56, 155, 255);
}


div ul li {
  list-style: none;
}
